body {
  background-color: #F4F4F9;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Paytone One', sans-serif;
}

.menubar {
  width: 600px;
  margin: 0 auto;
  color: #333;
  font-family: 'Roboto Mono', monospace;
}

.fa-plus-circle {
  font-size: 42px;
  color: #586F7C;
}
.fa-check-circle {
  font-size: 18px;
  color: #04724D;
}

button {
  border: none;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

input {
  font-family: 'Roboto Mono', monospace;
  margin: 5%;
  background: none;
  border: none;
  border-bottom: 2px solid #808080;
  padding: 5px;
  color: #000;
}

input::placeholder {
  color: #000;
}

input:focus {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  background-color: #fff;
  outline: none;
  border-radius: 5px 5px 0 0 ;
  color: black;
}

form {
  width: 600px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
}



label {
  align-self: center;
  display: flex;
  font-size: 12px;

}

li {
  margin-top: 10px !important;
  margin: 0 auto;
  width: 600px;
  list-style-type: none;
  background: white;
  padding: 15px;
  border: 1px solid #808080;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
  align-items: center;
}

.done {
  text-decoration: line-through;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
